<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/fontawesome")
    @RenderSection("head", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>


</head>
<body>
    <nav style="background-color: rgba(0,0,0,0.7)" class="navbar navbar-expand-md fixed-top navbar-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/Home/Index" class="navbar-brand mr-5"><img src="~/Assets/logo.png"></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link text-white" })</li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link text-white" })</li>
                    <li class="nav-item">@Html.ActionLink("Events", "Index", "Events", new { area = "" }, new { @class = "nav-link text-white" })</li>
                    @if (User.IsInRole("Restaurant"))
                    {
                        <li class="nav-item">@Html.ActionLink("My Restaurant", "Index", "Restaurants", new { area = "" }, new { @class = "nav-link text-white" })</li>
                    }

                    @if (User.IsInRole("Restaurant") || User.IsInRole("User") || User.IsInRole("Admin"))
                    {
                        <li class="nav-item">@Html.ActionLink("Reservations", "Index", "Reservations", new { area = "" }, new { @class = "nav-link text-white" })</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div style="margin-bottom: 30px">

    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Book a table</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
