@model IEnumerable<BookTable.Models.DatabaseModels.Restaurant>

@{
    ViewBag.Title = "Index";
}


@if (Model.Count() > 0)
{

<h2 class="d-inline float-left">Your restaurant</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
   
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.RestaurantId }) |
            @Html.ActionLink("Details", "Details", new { id = item.RestaurantId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.RestaurantId }) |
            @Html.ActionLink("Add Table", "createTableForRestaurant", "Tables", new { id = item.RestaurantId }, null)
        </td>
    </tr>
}

</table>
<hr/>
}
else
{   <div style="width:50%" class="m-auto">
    <h2>Add your restaurant!</h2>
    <p>After adding your restaurant you can create events and promote your restaurant</p>
    <a href="/Restaurants/Create"><button class="btn btn-success mt-5 mb-5">Add new</button></a>
    </div>
}

