@model BookTable.Models.ViewModels.TableInRestaurant


@{
    ViewBag.Title = "Add a table";
}


<h4>Add a table</h4>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.table.Seats, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.table.Seats, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.table.Seats, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model => model.restaurantId)
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="/Tables/tablesForRestaurant/@Model.restaurantId"><button type="button" class="btn btn-secondary">Cancel</button></a>
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
}
