@model IEnumerable<BookTable.Models.DatabaseModels.Table>

@{
    ViewBag.Title = "TablesForRestaurant";
}

<h2>My Tables</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Seats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avaliable)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avaliable)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TableId }) |
                @Html.ActionLink("Details", "Details", new { id = item.TableId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TableId })
            </td>
        </tr>
    }

</table>

<div style="float: right">
<a href="/Restaurants/Index"><button type="button" class="btn btn-primary">Back</button></a>
<a href="/Tables/createTableForRestaurant/@ViewBag.RestId"><button type="button" class="btn btn-success">New Table</button></a>

</div>
