@model IEnumerable<BookTable.Models.DatabaseModels.Reservation>

@{
    ViewBag.Title = "Reservations";
}

<h2>Reservations</h2>

<table class="table">
    <tr>
        <th>
            Email
        </th>
        <th>
            Created At
        </th>
        <th>
            Event   
        </th>
        <th>
            Restaurant
        </th>
        <th>
            People
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Idto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Table.Restaurant.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Table.Seats)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ReservationId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ReservationId })
        </td>
    </tr>
}

</table>
