@model BookTable.Models.ViewModels.EventInRestaurant


@{
    ViewBag.Title = "Add Event";
}


<h2>Add Event</h2>

@using (Html.BeginForm("createEventInRestaurant", "Events", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.evnt.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.evnt.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.evnt.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.evnt.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.evnt.Date, new { htmlAttributes = new { @class = "form-control", id = "datepicker" } })
                @Html.ValidationMessageFor(model => model.evnt.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.evnt.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.evnt.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.evnt.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.evnt.ImageUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.evnt.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.evnt.ImageUrl, "", new { @class = "text-danger" })
            </div>
            @Html.HiddenFor(model => model.restaurantId)
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="/Restaurants/Details/@Model.restaurantId" class="btn btn-secondary">Back</a>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@section Scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            $('#datepicker').datetimepicker({
                timepicker: true,
                datepicker: true,
                format: 'Y/m/d H:i',
                weeks: true,
                inline: true
            });
        });

    </script>

}