@model IEnumerable<BookTable.Models.DatabaseModels.Event>

@{
    ViewBag.Title = "Edit Events";
}

@if (Model.Count() > 0)
{

<h2>Edit your events</h2>

<table class="table mb-5">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Status
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @if(item.Date < DateTime.Now)
            {
                <b style="color:red">Finished</b>
            } else
            {
                <b style="color:green">Active</b>
            }
        </td>
        <td>
            <img src="@item.ImageUrl" style="max-width:100px">
        </td>
        <td>
            <a href="/Events/Edit/@item.EventId" class="btn btn-primary btn-block">Edit</a>

        </td>
    </tr>
    }

</table>
}
else
{
<div style="text-align:center" class="m-auto">
    <img style="width:20%" src="https://www.familytimemalta.com/wp-content/uploads/2018/11/event-icon.png">
    <h3 class="mb-5" style="color:gray">There are no events added, please add your first event in restaurat settings!</h3>
</div>
}